include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include frapee_business_theme *.css
recursive-include frapee_business_theme *.csv
recursive-include frapee_business_theme *.html
recursive-include frapee_business_theme *.ico
recursive-include frapee_business_theme *.js
recursive-include frapee_business_theme *.json
recursive-include frapee_business_theme *.md
recursive-include frapee_business_theme *.png
recursive-include frapee_business_theme *.py
recursive-include frapee_business_theme *.svg
recursive-include frapee_business_theme *.txt
recursive-exclude frapee_business_theme *.pyc